html, .main-content {max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
}
h1, h2, h3     {
text-align: center;
}
#header {   height: auto;
background-color: #516f55;
border:none;   
width: 100%;

position: static; 
}   
html {background-color: #12130f;
}

.main-content    { font-family: 'Montserrat Alternates', sans-serif;
    color: #8fcb9b; 
    
}
p { text-align: center;
}
.giflink {
color:#a3bcaf;
text-decoration: none;
}
.list 
{text-align: center;}
.navlist {
display: inline-block;
text-align: left
}

@media screen and (min-width:500px) 
{main-content {color: pink;}}

@media (min-width: 768px)
{main-content {color:#8fcb9b}}

@media (min-width: 1200px)
{main-content {color:#a3bcaf}}