.heading { font-size: 40px;
            background-color: rgb (30, 30, 30,);
           
            opacity: 0.5;
}   



.main-content    { font-family: 'Montserrat Alternates', sans-serif;
                ;

}